<nav class="navbar bg-dark text-white">
  <div class="container">
    <a class="navbar-brand">
      <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
      Flickr Photo Search
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>
